/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}

/* General styling */
.menu-img {
    position: relative;
    width: 100%;
    height: 90%;
}

.menu-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.menu-contents {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.menu-contents h1 {
    font-size: 75px;
    font-weight: 600;
    color: white;
}

.menu-contents p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.82px;
    color: #BBBBBB;
    margin-top: 15px;
}




.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0px;
    left: 1px;
    right: 1px;
    height: 100px;
    background-color: black;
    
}

.main-btn button {
    background-color: black;
    width: 114.25px;
    height: 49.98px;
    margin: 0 5px;
    outline: 1px solid rgb(41, 120, 224);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-btn button:hover {
    background-color: #0796EF;
    transform: scale(1.1);
}

.menu-itmes {
    
    width: 100%;
    /* height: auto; */
    /* margin-bottom: 100px; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-box {
    position: relative;
    width: 800px;
    height: auto;
    outline:1px solid white;
    margin-top: 30px;
    margin-bottom: 80px;

}

.item-img1 img,
.item-img2 img {
    position: absolute;
    width: 150px;
    height: 150px;
}

.item-img1 img {
    top: -45px;
    left: -90px;
}

.item-img2 img {
    bottom: -30px;
    right: -30px;
}

.menu-title {
    /* margin-top: 10px; */
    padding-top: 1px;
    padding-bottom: px;
    text-align: center;
}

.menu-title h1 {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.menu-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.products {
    width: calc(50% - 20px);
    height: auto;
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.products h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    white-space: nowrap;
    width: 100%;
    color: white;
}

.products p {
    font-weight: 400;
    font-size: 18px;
    color: #574f4fbf;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pagination button {
    background-color: #0d0d0e;
    color: white;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #0796EF;
}

.pagination button.active {
    color: white;
    font-weight: bold;
} 



/* Responsive Styling */

/* For devices with width between 620px and 768px */
@media (min-width: 1200px) and (max-width: 1380px) {
    .menu-contents {
        top: 200px;
        left: 50%;
    }

    .menu-contents h1 {
        font-size: 50px;
        font-weight: 600;
    }
    .menu-contents p {
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
    }

   
    .main-btn {
        height: 70px;
        
       
        
    }
    
    .menu-itmes {
    
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }
    
    .main-btn button {
        background-color: rgb(14, 14, 14);
        width: 100px;
        height: 45px;
        font-size: 14px;
    }

   
    .menu-box {
       
        width: 850px;
        height: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    
    }
   
}

/* For smaller devices (below 620px) */
@media (min-width:900px) and (max-width: 1200px) {
    .menu-img {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .menu-contents {
        position: absolute;
        top: 130px;
        
    }
    .menu-contents h1 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 20px;
    }
    .menu-contents p {
        font-size: 10px;
        font-weight: 400;
        margin-top: 1px;
    }
    .main-btn {
        height: 70px;
        
       
        
    }
    .main-btn button {
        
        width: 111.25px;
        height: 45.98px;
    }
    .menu-title h1 {
        font-size: 44px;
        font-weight: 600;
        margin-top: 50px;
        
    }
    .products h1 {
       
        font-size: 23px;
        font-weight: 400;
        
    }
    .products p {
        font-weight: 400;
        font-size: 13px;
        color: #FFFFFFBF;
    }
    
    
}

@media  (max-width:900px){
    .menu-img {
        position: relative;
        width: 100%;
        height: 110%;
    }
    .menu-contents {
        top: 120px;
        
    }
    .menu-contents h1 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 3px;
        padding-top: 2px;
    }
    .menu-contents p {
        font-size: 10px;
        font-weight: 400;
        margin-top: 1px;
    }
    .main-btn {
        height: 60px;
       
       
        
    }
    .main-btn button {
        width: 105.25px;
        height: 40.98px;
    }
    .menu-title h1 {
        font-size: 35px;
        font-weight: 600;
        margin-top: 50px;
        
    }
    .item-img1 img,
.item-img2 img {
    position: absolute;
    width: 80px;
    height: 80px;
}
.menu-box {
       
    width: 600px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 80px;

}
.item-img1 img {
    left: -50px;
}
.menu-title h1 {
    font-size: 30px;
    font-weight: 500;
   
}
.menu-products {
   
    max-width: 1000px;
    margin: 0 auto;
}
.products h1 {
    
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}
.products p {
    font-weight: 400;
    font-size: 13px;
    color: #e2d4d4bf;
}
.pagination {
   
    margin-top: 25px;
}
}
@media (max-width:786px){
    .menu-img {
        position: relative;
        width: 100%;
        height: 120%;
    }
    .menu-img img{
    width: 100%;
    }
    .menu-contents {
        top: 100px;
        
    }
    .menu-contents h1 {
        font-size: 22px;
        font-weight: 700;
    }
    .menu-contents p {
        font-size: 10px;
        font-weight: 400;
    
    }
    .main-btn {
        height: 50px;
        
       
        
    }
    .main-btn button {
        width: 85.25px;
        height: 40.98px;
    }
    .menu-title h1 {
        font-size: 25px;
        font-weight: 600;
        margin-top: 50px;
        
    }
    .menu-box {
       
        width: 500px;
        height: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    
    }
    .item-img1 img,
    .item-img2 img {
        
        width: 70px;
        height: 70px;
    }
    .item-img1 img {
        left: -40px;
    }
    .menu-products {
   
        max-width: 9000px;
        margin: 0 auto;
    }
    .products h1 {
    
        font-size: 16px;
        font-weight: 500;
        width: 100%;
    }
    .products p {
        font-weight: 500;
        font-size: 11px;
        color: #e2d4d4bf;
    }
    .pagination {
   
        margin-top: 50px;
    }
}

@media  (max-width:690px){
    .menu-img {
        position: relative;
        width: 100%;
        height: 120%;
    }
    .menu-img img{
    height: 200px;
    }

    .menu-contents {
        top:95px;
        
    }
    .menu-contents h1 {
        font-size: 17px;
        font-weight: 600;
        margin-top: 2px;
        padding-bottom: 1px;
        padding: 0;
    }

    .menu-contents p {
        font-size: 8px;
        font-weight: 400;
        margin-top:-28px ;

    
    }
    .main-btn {
        /* position: relative; */
        height: 40px;
        margin-top: 0px;
      
        
    }
    
    .main-btn button {
        width: 70.25px;
        height: 30.98px;
        font-size: 12px;
        border-radius: 0.1;
    }
    .menu-title h1 {
        font-size: 19px;
        font-weight: 600;
        margin-top: 30px;
        
    }
    .menu-box {
       
        width: 340px;
        height: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    
    }
    .item-img1 img,
    .item-img2 img {
        
        width: 70px;
        height: 70px;
    }
    .item-img1 img {
        left: -40px;
    }
    .menu-products {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .products {
        width: 100%; 
        max-width: 320px; 
    }
    .products h1 {
    
        font-size: 15px;
        font-weight: 700;
        padding-top: 2px;
        margin: 0 auto;
      
    }
    .products p {
        padding-top: 6px;
        font-weight: 600;
        font-size: 10px;
        color: #e2d4d4bf;
        margin: 0 auto;
    }
    .pagination {
   
        margin-top: 50px;
    }
}

