* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .footer {
    width: 100%;
    background-color: #0e0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5%;
  }
  
  .copyright {
    font-size: clamp(12px, 2vw, 14px);
    color: #857878;
    font-weight: 600;
  }
  
  .conditions {
    font-size: clamp(12px, 2vw, 14px);
    color: #857878;
    font-weight: 600;
    display: flex;
    gap: 15px;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .conditions {
      margin-top: 8px;
      justify-content: center;
    }
  }
  